<%
@title_for_layout = 'Create Business Card'
@body_id = 'new_business_card'
%>

<h1><%= @title_for_layout %></h1>

<form method="post" action="/business_cards">
  
  <%# if @business_card.errors.count > 0 %>
    <%#= render :partial => 'shared/form_errors', :locals => {:f => business_card_form} %>
  <%# end %>
  
  <div id="business_card_form" class="vanilla_region">  
    <div class="white_region">
      <div class="beige_region">
        <div class="form_row">
          <label>Choose a url for your card</label>
          <input type="text" class="textbox" name="business_card[url]" />
        </div>
        <div class="form_row" style="margin-bottom:10px">
          <label>Pick a title for your card</label>
          <input type="text" class="textbox" name="business_card[title]" />
        </div>
        <input type="submit" value="Create" name="commit" id="business_card_submit" class="red_btn" />
      </div>
    </div>
  </div>
</form>
