<!DOCTYPE html>
<html>
<head>
  <title><%= @title_for_layout %> - Alextra</title>
  <link href="/stylesheets/master.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body id="<%= @body_id %>">

<%= yield %>

</body>
</html>
